container_commands:
  01_set_vars:
    command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
  02_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && cd /var/app/staging/ && python app/manage.py migrate --noinput"
    leader_only: true
  03_createsu:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && cd /var/app/staging/ && python app/manage.py seedgen --noinput"
    leader_only: true
